In [3]:
import pandas as pd
import pandas_datareader.data as web
import datetime
import mpl_finance
import matplotlib.pyplot as plt
from matplotlib.dates import date2num

In [4]:
#データの読み込み
start = datetime.datetime(2019,3,1)
end = datetime.datetime(2019,3,31)
#df = pd.read_csv('./日経平均データ.csv')
df = web.DataReader('MTX', 'yahoo', start, end)
df.head()

                 High        Low       Open      Close  Volume  Adj Close
Date
2019-02-28  60.070000  59.150002  59.509998  59.200001  146300  59.023529
2019-03-01  61.160000  59.560001  59.619999  60.270000  118000  60.090336
2019-03-04  60.840000  59.480000  60.209999  60.540001  116600  60.359531
2019-03-05  61.080002  60.360001  60.639999  61.009998  113700  60.828125
2019-03-06  61.340000  60.259998  61.070000  60.380001  237600  60.200012